{{#section 'css'}}
<style>
    .profile-page {
        font-size: 1.2rem;
    }

    .profile-page .card-body {
        font-size: 1.1rem;
    }

    .profile-page .btn {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    .profile-page .mb-0 {
        font-size: 1.8rem;
        margin: 10px 0;
    }
</style>
{{/section}}

{{!-- <form action="" method="post">
    <div class="card">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="txtUsername">Username</label>
                <input type="text" name="txtUsername" id="" class="form-control" value="{{this.user.username}}">
            </div>
            <div class="form-group">
                <label for="txtName">Name</label>
                <input type="text" name="txtName" id="" class="form-control" value="{{this.user.name}}">
            </div>
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" name="txtEmail" id="" class="form-control" value="{{this.user.email}}">
            </div>
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check2"></i>
                Save
            </button>
        </div>
    </div>
</form> --}}

<div class="profile-page">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://cdn-icons-png.flaticon.com/512/648/648270.png" alt="avatar"
                            class="rounded-circle img-fluid" style="width: 150px;">
                        <h2 class="my-3">{{user.Name}}</h2>
                        {{#if user.SubcribeExpireDate}}
                        {{#if (isExpired user.SubcribeExpireDate)}}
                        <h4 class="text-muted my-4">Your Premium has expired</h4>
                        {{else}}<h4 class="text-muted my-4">Premium expiration date:</h4>
                        <h4 class="text-muted my-4">{{formatDate2 user.SubcribeExpireDate}}
                        </h4>
                        {{/if}}
                        <div class="d-flex justify-content-center mb-2">
                            <a href="/account/payment-premium" class="btn btn-danger btn-lg btn-block">Extend your
                                PREMIUM right now!!!</a>
                        </div>
                        {{else}}
                        <div class="d-flex justify-content-center mb-2">
                            <a href="/account/payment-premium" class="btn btn-danger btn-lg btn-block">Get PREMIUM right
                                now!!!</a>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.Email}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{user.Name}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Date of Birth</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0"> {{#if (isNotEqual user.Dob "1899-11-29T17:00:00.000Z")}}
                                    {{formatDate user.Dob}}
                                    {{/if}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Pen Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{#if user.PenName}}
                                    {{user.PenName}}
                                    {{/if}}</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Role</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{nameRole user.Role}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/account/update-password" class="btn btn-primary"><i class="bi bi-shield-lock"></i> Change
                        your password</a>
                    <a href="/account/update-profile" class="btn btn-success"><i class="bi bi-person"></i> Change your
                        information</a>
                </div>
            </div>
        </div>
    </div>
</div>