<div class="d-flex justify-content-between">
    <a href="#" class="text-dark link-hover me-3">
        <span class="badge bg-primary">
            {{this.category.CatName}}
        </span>
    </a>
    <a href="#" class="text-dark link-hover">{{this.news.PublishDate}}</a>
</div>
<div class="mb-4">
    <a href="#" class="h1 display-5">{{this.news.Title}}</a>
</div>
<div class="position-relative rounded overflow-hidden mb-3">
    <img src="{{{this.news.Thumbnail}}}" alt="">
</div>
<div class="article-content">
    {{{this.news.Content}}}
</div>

<div class="tab-class">
    <div class="d-flex justify-content-between border-bottom mb-4">
        <ul class="nav nav-pills d-inline-flex text-center">
            <li class="nav-item mb-3">
                <h5 class="mt-2 me-3 mb-0">Tags:</h5>
            </li>
            {{#each this.taglist}}
            <li class="nav-item mb-3">
                <a class="d-flex py-2 bg-light rounded-pill active me-2" data-bs-toggle="pill" href="">
                    <span class="text-dark" style="width: 100px;">{{TagName}}</span>
                </a>
            </li>
            {{/each}}
        </ul>
        <div class="d-flex align-items-center">
            <h5 class="mb-0 me-3">Share:</h5>
            <i class="fab bi bi-facebook  btn btn-square rounded-circle border  text-dark me-2"></i>
            <i class="btn fab bi-twitter  btn btn-square rounded-circle b border text-dark me-2"></i>
            <i class="btn fab bi bi-instagram  btn btn-square rounded-circle  border text-dark me-2"></i>
            <i class="btn fab bi bi-linkedin btn btn-square rounded-circle  border text-dark"></i>
        </div>
    </div>
</div>
<div class="bg-light rounded my-4 p-4">
    <h4 class="mb-4">You Might Also Like</h4>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="d-flex align-items-center p-3 bg-white rounded">
                <img src="img/chatGPT.jpg" class="img-fluid rounded" alt="">
                <div class="ms-3">
                    <a href="#" class="h5 mb-2">Lorem Ipsum is simply dummy text of the printing</a>
                    <p class="text-dark mt-3 mb-0 me-3"><i class="fa fa-clock"></i> 06 minute read</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-flex align-items-center p-3 bg-white rounded">
                <img src="img/chatGPT-1.jpg" class="img-fluid rounded" alt="">
                <div class="ms-3">
                    <a href="#" class="h5 mb-2">Lorem Ipsum is simply dummy text of the printing</a>
                    <p class="text-dark mt-3 mb-0 me-3"><i class="fa fa-clock"></i> 06 minute read</p>
                </div>
            </div>
        </div>
    </div>
</div>