<style>
    .hotcategories .box-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 20px;
    }

    .hotcategories .box-head::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, var(--color-red) 15%, var(--color-gray) 15%);
    }

    .hotcategories .box-head .inner-title {
        color: var(--color-red);
        font-weight: 700;
        font-size: 24px;
    }

    .hotcategories .carousel {
        height: 500px;
    }

    .hotcategories .carousel .carousel-inner img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    .hotcategories .carousel .button-carousel button {
        width: 20px;
        height: 20px;
        padding: 0;
        margin-right: 10px;
        margin-left: 10px;
        border-top: 0;
        border-bottom: 0;
        border-radius: 50%;
        background-color: var(--color-black);
    }

    .hotcategories .carousel .button-carousel .active {
        background-color: var(--color-red);
    }

    .hotcategories .carousel-caption {
        bottom: 2.25rem;
        left: 4%;
        text-align: left;
        height: 462px;
    }

    .hotcategories .carousel-caption .inner-content h5 {
        font-size: 24px;
        font-weight: 700;
        color: var(--color-white);
        margin-bottom: 20px;
    }

    .hotcategories .carousel-caption .inner-content p {
        font-size: 18px;
        color: var(--color-white);
        position: relative;
    }

    .hotcategories .carousel-caption .inner-content p::before {
        content: '';
        position: absolute;
        top: -5px;
        left: 0;
        width: 10%;
        height: 2px;
        background: var(--color-red);
    }

    .hotcategories .carousel-caption .inner-caption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .hotcategories .carousel-caption .inner-caption .inner-badge .text-bg-primary {
        font-size: 18px;
    }

    .hotcategories .inner-box {
        margin-top: 20px;
        display: flex;
    }

    .hotcategories .inner-box .inner-image {
        margin-right: 20px;
        position: relative;
    }

    .hotcategories .inner-box .inner-image img {
        height: 160px;
        width: 180px;
        object-fit: cover;
    }

    .hotcategories .inner-box .inner-image .inner-badge {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .hotcategories .inner-box .inner-content .inner-title {
        font-size: 15px;
        margin-bottom: 25px;
    }
</style>


<div class="hotcategories mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <div class="box-head">
                <h5 class="inner-title">Don't Miss</h5>
                <div class="inner-tabs">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-all" type="button" role="tab">All</button>
                        </li>
                        {{#each hotCategoriesParent}}
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-{{ParentName}}-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-{{ParentName}}" type="button" role="tab">{{ParentName}}</button>
                        </li>
                        {{/each}}
                        {{!-- <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-international-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-international" type="button" role="tab">International</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-disabled" type="button" role="tab" aria-controls="pills-disabled"
                                aria-selected="false" disabled>Disabled</button>
                        </li> --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane show active" id="pills-all" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselAll" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselAll" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselAll" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselAll" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#each hotCategoriesNews}}
                                    {{#if (lower @index 3)}}
                                    <div class="carousel-item {{#if @first}}active{{/if}}">
                                        <img src="{{this.Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{this.CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{this.Title}}</h5>
                                                    <p>{{this.Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/if}}
                                    {{/each}}
                                </div>
                                <button class="carousel-control-prev " type="button" data-bs-target="#carouselAll"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselAll"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#each hotCategoriesNews}}
                        {{#if (and (greater @index 2) (lower @index 6))}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        {{/each}}
                        {{!-- <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="https://image.plo.vn/w1000/Uploaded/2024/vowklqmx/2024_11_06/ket-qua-bau-cu-tong-thong-my-se-anh-huong-ra-sao-den-chau-a-va-viet-nam-4128.jpg.webp"
                                        alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">Primary</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nhat An Nguyen - 27 Dec 2024</p>
                                    <h5 class="inner-description">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit</h5>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
                <div class="tab-pane " id="pills-International" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselInternational" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselInternational" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselInternational" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselInternational" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "International"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselInternational" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselInternational" data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "International"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                        {{!-- <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="https://static.vecteezy.com/system/resources/thumbnails/005/857/332/small_2x/funny-portrait-of-cute-corgi-dog-outdoors-free-photo.jpg"
                                        alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">Primary</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nhat An Nguyen - 27 Dec 2024</p>
                                    <h5 class="inner-description">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="https://static.vecteezy.com/system/resources/thumbnails/005/857/332/small_2x/funny-portrait-of-cute-corgi-dog-outdoors-free-photo.jpg"
                                        alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">Primary</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nhat An Nguyen - 27 Dec 2024</p>
                                    <h5 class="inner-description">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="https://static.vecteezy.com/system/resources/thumbnails/005/857/332/small_2x/funny-portrait-of-cute-corgi-dog-outdoors-free-photo.jpg"
                                        alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">Primary</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nhat An Nguyen - 27 Dec 2024</p>
                                    <h5 class="inner-description">Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit</h5>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
                <div class="tab-pane " id="pills-Sports" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselSports" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "Sports"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselSports"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselSports"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "Sports"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                    </div>
                </div>
                <div class="tab-pane " id="pills-Education" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselEducation" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselEducation" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselEducation" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselEducation" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "Education"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselEducation"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselEducation"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "Education"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                    </div>
                </div>
                <div class="tab-pane " id="pills-Entertainment" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselEntertainment" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselEntertainment" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselEntertainment" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselEntertainment" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "Entertainment"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselEntertainment" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselEntertainment" data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "Entertainment"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                    </div>
                </div>
                <div class="tab-pane " id="pills-Health" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselHealth" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselHealth" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselHealth" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselHealth" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "Health"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselHealth"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselHealth"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "Health"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                    </div>
                </div>
                <div class="tab-pane " id="pills-Technology" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselTechnology" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselTechnology" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselTechnology" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselTechnology" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "Technology"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselTechnology"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselTechnology"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "Technology"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                    </div>
                </div>
                <div class="tab-pane " id="pills-Law" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselLaw" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselLaw" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselLaw" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselLaw" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "Law"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselLaw"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselLaw"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "Law"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                    </div>
                </div>
                <div class="tab-pane " id="pills-Lifestyle" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselLifestyle" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselLifestyle" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselLifestyle" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselLifestyle" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "Lifestyle"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselLifestyle"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselLifestyle"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "Lifestyle"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                    </div>
                </div>
                <div class="tab-pane " id="pills-Travel" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carouselTravel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carouselTravel" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselTravel" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselTravel" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "Travel"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselTravel"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselTravel"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "Travel"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                    </div>
                </div>
                {{!-- {{#each hotCategoriesParent}}
                <div class="tab-pane " id="pills-{{ParentName}}" role="tabpanel" tabindex="0">
                    <div class="row">
                        <div class="col-12">
                            <div id="carousel{{ParentName}}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators button-carousel">
                                    <button type="button" data-bs-target="#carousel{{ParentName}}" data-bs-slide-to="0"
                                        class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carousel{{ParentName}}" data-bs-slide-to="1"
                                        aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carousel{{ParentName}}" data-bs-slide-to="2"
                                        aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    {{#filterCategories1 hotCategoriesNews "{{ParentName}}"}}
                                    <div class="carousel-item active">
                                        <img src="{{Thumbnail}}" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="inner-caption">
                                                <div class="inner-badge">
                                                    <span class="badge text-bg-primary">{{CatName}}</span>
                                                </div>
                                                <div class="inner-content">
                                                    <h5>{{Title}}</h5>
                                                    <p>{{Abstract}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/filterCategories1}}
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carousel{{ParentName}}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carousel{{ParentName}}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {{#filterCategories2 hotCategoriesNews "{{ParentName}}"}}
                        <div class="col-xl-4">
                            <div class="inner-box">
                                <div class="inner-image">
                                    <img src="{{this.Thumbnail}}" alt="">
                                    <div class="inner-badge">
                                        <span class="badge text-bg-primary">{{this.CatName}}</span>
                                    </div>
                                </div>
                                <div class="inner-content">
                                    <p class="inner-title">Nguyen Van A - {{this.PublishDate}}</p>
                                    <h5 class="inner-description">{{this.Title}}</h5>
                                </div>
                            </div>
                        </div>
                        {{/filterCategories2}}
                    </div>
                </div>
                {{/each}} --}}
            </div>
        </div>
    </div>
</div>