<style>
    .catnews .card-title {
        font-weight: bold;
        font-size: 1.5em;
    }

    .catnews .card-body {
        min-height: 300px;
        /* Adjust the height as needed */
    }

    .article {
        position: relative;
    }

    .container-link {
        display: block;
    }

    .container-link::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<div class="catnews">
    <div class="row">
        <div class="col-12">
            <div class="top">
                <h3 class="md-3">
                    {{this.tag.TagName}}
                </h3>
            </div>
        </div>
    </div>
    {{#if this.empty}}
    <div class="container">
        <p>Không có dữ liệu</p>
    </div>
    {{else}}
    <div class="container">

        {{#each this.news}}
        <div class="article row my-3">
            <div class="col-md-3">
                <div class="card-body">
                    <img src="{{Thumbnail}}" class="img-fluid" alt="{{Title}}" style="width: 350px; height: 250px;">
                </div>
            </div>
            <div class="col-md-8" style="border-bottom: 1px solid #727272;">
                <div class="card-body">
                    <a class="container-link card-title" href="/news/details?id={{NewsID}}">{{Title}}</a>
                    <p class="card-text">{{Abstract}}</p>
                    <p class="card-text">by Nguyễn Văn A</p>
                </div>
            </div>
            <div class="col-md-1">
                <div class="card-body">
                    <p class="card-text">{{timeAgo PublishDate}}</p>
                </div>
            </div>
        </div>
        {{/each}}


        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item {{#if this.isFirstPage}}disabled{{/if}}">
                    <a class="page-link"
                        href="{{#unless this.isFirstPage}}/news/byCat?id={{this.catId}}&page={{this.previousPage}}{{/unless}}">
                        Previous
                    </a>
                </li>
                {{#each this.page_items}}
                {{#if isActive}}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{value}}</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="/news/byCat?id={{../catId}}&page={{value}}">
                        {{value}}
                    </a>
                </li>
                {{/if}}
                {{/each}}
                <li class="page-item {{#if this.isLastPage}}disabled{{/if}}">
                    <a class="page-link"
                        href="{{#unless this.isLastPage}}/news/byCat?id={{this.catId}}&page={{this.nextPage}}{{/unless}}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    {{/if}}
</div>