{{#section 'css'}}

<link href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css" rel="stylesheet">


<link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />


{{!-- <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<!-- Multiselect CSS và JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.min.css"> --}}


{{/section}}

{{#section 'js'}}


{{!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> --}}
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.js"></script>
<script>
      $('#summernote').summernote({
        placeholder: 'Please enter content news',
        tabsize: 2,
        height: 400,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['fontsize', ['fontsize']],
          ['fontname', ['fontname']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
</script>



<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/fileinput.min.js"></script>
{{!-- <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/locales/LANG.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.0/js/locales/vi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.0/themes/fa5/theme.min.js"></script>

<script>
    //const thumbnailPath = "d://DAI HOC DUNG HOC DAI//THIRD//HK1//Web_Programming//Project//Web-Development//static//imgs//WIN_20240826_09_24_17_Pro.jpg"  //"/static/imgs/{{this.article.Thumbnail}}";
    //console.log(thumbnailPath)
    const thumbnailPath = "/static/imgs/{{this.article.Thumbnail}}";
    /*$(document).ready(function() {
    $("#fulMain").fileinput({
      //showCaption: false, 
      dropZoneEnabled: false,
      maxFileCount: 1,
      allowedFileExtensions:["jpg", "png", "gif"],
      theme: "fa4",
      language: "vi"
      initialPreview: [thumbnailPath],
        initialPreviewAsData: true,
        initialPreviewConfig: [
            { 
                caption: "Thumbnail.jpg", // Tên file
                size: 1024,
                downloadUrl: thumbnailPath,
                key: 1,
                width: "120px"
            },
        ],
        deleteUrl: "/site/file-delete",
        overwriteInitial: true
        maxFileSize: 100,
        initialCaption: "Thumbnail"
      });})*/
    $("#fulMain").fileinput({
        allowedFileExtensions:["jpg", "png", "gif"],
        maxFileCount: 1,
        dropZoneEnabled: false,
        theme: "fa4",
        language: "vi",
        initialPreview: [thumbnailPath],
        initialPreviewAsData: true,
        initialPreviewConfig: [
            {caption: "Thumbnail.jpg",
             downloadUrl: thumbnailPath, 
              size: 1024, 
              width: "120px", 
              key: 1
            },
        ],
        deleteUrl: "/site/file-delete",
        overwriteInitial: true,
        maxFileSize: 1000,
        initialCaption: "Thumbnail"
    });

</script>



{{!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
<script>
  $(document).ready(function() {
    $('#tags').multiselect({
        includeSelectAllOption: true, // Thêm tùy chọn "Chọn tất cả"
        nonSelectedText: 'Chọn danh mục',
        buttonWidth: '100%'
    });
});
</script> --}}
{{/section}}

<form action="" method="post" enctype="multipart/form-data">
  <div class="card">
    <div class="card-header">
      <h4>Edit New</h4>
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-sm-12 overflow-auto">
          <label for="title" class="form-label d-block">Title</label>
          <input type="text" class="form-control d-inline mb-3" id="title" aria-describedby="basic-addon3" name="title" value="{{this.article.Title}}">
          <label for="abstract" class="form-label d-block">Abstract</label>
          <input type="text" class="form-control d-inline mb-3" id="abstract" aria-describedby="basic-addon3" name="abstract" value="{{this.article.Abstract}}">
          
          <div class="form-group mt-3">
            <label for="tags" >Tag</label>
            <select name="tags[]" id="tags" size="1" multiple>
              {{#each this.tags}}
                <option value="{{TagID}}" 
                   {{#if (isInArray ../tagsArticle TagID)}} selected {{/if}}>
                   {{TagName}}
                </option>
              {{/each}}
            </select>
          </div>
          
          <div class="form-group mt-3 mb-3">
            <label for="categories">Categories</label>
            <select name="categories" id="categories">
              {{#each this.categories}}
              <option value="{{CatID}}" 
                 {{#if (isEqual ../categoryArticle.CatID CatID)}} selected {{/if}}>
                 {{CatName}}
               </option>
              {{/each}}
            </select>
          </div>
          {{!-- <div class="form-group mt-3 mb-3">
            <label for="premium">Premium</label>
            <select name="premium" id="premium">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div> --}}

          <div class="form-group mb-3">
            <label for="fulMain">Thumnail</label>
            <input type="file" name="fulMain" id="fulMain" multiple>
          </div>
          <textarea id="summernote" name="content" class="h-100">{{{this.article.Content}}}</textarea>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a href="/reporter" class="btn btn-outline-primary">
        <i class="bi bi-arrow-left"></i>
        Back
      </a>
      <button type="submit" class="btn btn-success">
        <i class="bi bi-check2"></i>
        Update
      </button>
    </div>
  </div>
</form>