<form action="" method="post">
    <div class="card">
        <h4 class="card-header d-flex justify-content-between">
            News
        </h4>

            <div class="card-body">
                <div class="row">
                    {{#each this.news}}
                    <div class="col-sm-6 mb-3">
                        <div class="card" style="min-height: 650px">
                            <img class="card-img-top" src="/static/imgs/{{Thumbnail}}" alt="HIII">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <a href="/" class="">{{Title}}</a>
                                </h5>
                                <span class="badge badge-primary">{{Author}}</span>
                                {{#each this.tags}}
                                    <span class="badge bg-dark">{{TagName}}</span>
                                {{/each}}
                                {{#if (isEqual PremiumFlag 1)}}
                                <span class="badge badge-success">Premium</span>
                                {{else}}
                                <span class="badge badge-danger">Non-Premium</span>
                                {{/if}}
                                <p class="card-text">{{Abstract}}</p>
                                <p class="card-text">{{PublishDate}}</p>
                            </div>
                            <div class="card-footer text-muted d-flex justify-content-between">
                                {{#if (isEqualOr Status 0 1)}} 
                                <a href="/reporter/editnews?id={{NewsID}}" class="btn btn-outline-info" disabled aria-label="Close">
                                    <i class="bi bi-check2"></i>
                                    Edit
                                </a>
                                {{else}} 
                                <a href="/reporter/editnews?id={{NewsID}}" class="btn btn-outline-info d-none" disabled aria-label="Close">
                                    <i class="bi bi-check2"></i>
                                    Edit
                                </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{!-- <ul class="pagination">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                    {{#each this.page_items}}
                    {{#if active}}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="/products/byCat?id={{../catId}}&page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul> --}}
            </div>
            <div class="card-footer text-muted">
                Footer
            </div>
        </div>

    </form>
</div>







                    {{!-- <div class="col-sm-6 mb-3">
                        <div class="card" style="min-height: 650px">
                            <img class="card-img-top " src="/static/imgs/sp/1/111.jpg" alt="HII">
                            <div class="card-body">
                                <h5 class="card-title">How Donald Trump is laying the groundwork to dispute the election
                                    results – again.</h5>
                                <p class="card-text">Donald Trump is re-using his 2020 playbook to baselessly.</p>
                                <p class="card-text"> November 3,2024</p>
                                <h5 class="card-text">Jeremy Herb</h5>
                            </div>

                            <div class="card-footer text-muted d-flex justify-content-between">
                                <a class="btn btn-outline-primary btn-sm" href="/products/detail?id={{ProID}}"
                                    role="button">
                                    <i class="bi bi-eye-fill"></i>
                                    View Details
                                </a>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Action
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Approved and awaiting
                                                publication</a></li>
                                        <li><a class="dropdown-item" href="#">Published</a></li>
                                        <li><a class="dropdown-item" href="#">Not approved
                                                yet</a></li>
                                        <li><a class="dropdown-item" href="#">Rejected</a></li>
                                    </ul>
                                </div>
                                <a href="/reporter/editnews" class="btn btn-outline-info">
                                    <i class="bi bi-check2"></i>
                                    Edit
                                </a>

                            </div>

                        </div>


                    </div> --}}

 {{!-- <a class="btn btn-outline-primary btn-sm" href="/products/detail?id={{ProID}}"
                                    role="button">
                                    <i class="bi bi-eye-fill"></i>
                                    View Details
                                </a> --}}
                                {{!-- <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Action
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Approved and awaiting
                                                publication</a></li>
                                        <li><a class="dropdown-item" href="#">Published</a></li>
                                        <li><a class="dropdown-item" href="#">Not approved
                                                yet</a></li>
                                        <li><a class="dropdown-item" href="#">Rejected</a></li>
                                    </ul>
                                </div> --}}