{{#section 'css'}}
<style>
    .table td {
        padding: 1.5rem 0.75rem;
    }

    .table td.col-4 {
        padding-left: 3rem;
    }
</style>
{{/section}}

<div class="main">
    <nav class="navbar navbar-expand px-4 py-3">
        <form action="#" class="d-none d-sm-inline-block">

        </form>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="/imgs/account.png" class="avatar img-fluid" alt="">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded">

                    </div>s
                </li>
            </ul>
        </div>
    </nav>
    <form action="" method="post">
        <main class="content px-3 py-4">
            <div class="container-fluid">
                <div class="mb-3">
                    <div class="row">
                        <h3 class="fw-bold fs-4 my-3">Edit reader profile</h3>
                    </div>
                    <div class="info">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="col-4">
                                        <label for="txtID" class="form-label">Id</label>
                                    </td>
                                    <td class="col-8">
                                        <input type="text" class="form-control" id="readerID" name="txtID"
                                            value="{{this.reader.Id}}" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        <label for="txtName" class="form-label">Name</label>
                                    </td>
                                    <td class="col-8">
                                        <input type="text" class="form-control" id="readerName" name="txtName"
                                            value="{{this.reader.Name}}" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        <label for="txtPenName" class="form-label">Pen Name</label>
                                    </td>
                                    <td class="col-8">
                                        <input type="text" class="form-control" id="readerPenName" name="txtPenName"
                                            value="{{this.reader.PenName}}" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        <label for="txtEmail" class="form-label">Email</label>
                                    </td>
                                    <td class="col-8">
                                        <input type="text" class="form-control" id="readerEmail" name="txtEmail"
                                            value="{{this.reader.Email}}" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        <label for="txtDOB" class="form-label">Date of birth</label>
                                    </td>
                                    <td class="col-8">
                                        <input type="text" class="form-control" id="readerDOB" name="txtDOB"
                                            value="{{formatDate this.reader.Dob}}" placeholder="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        <label for="txtSubExpiredDate" class="form-label">Subscribe expired date</label>
                                    </td>
                                    <td class="col-8">
                                        <input type="text" class="form-control" id="readerSubExpiredDate"
                                            name="txtSubExpiredDate" placeholder=""
                                            value="{{formatDate this.reader.SubcribeExpireDate}}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <h3 class="fw-bold fs-4 my-3">Others</h3>
                    </div>
                    <div class="info">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="col-4">
                                        <label for="categoryParent" class="form-label">Change Role</label>
                                    </td>
                                    <td class="col-8">
                                        <select class="form-select" id="categoryParent" name="categoryParent">
                                            <option selected value="1">{{nameRole 1}}</option>
                                            <option value="2">{{nameRole 2}}</option>
                                            <option value="3">{{nameRole 3}}</option>
                                            <option value="4">{{nameRole 4}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-4">
                                        <label for="txtExtendExpiredDays" class="form-label">Increase expired date</label>
                                    </td>
                                    <td class="col-8">
                                        <input type="text" class="form-control" id="extendExpiredDays" name="txtExtendExpiredDays"
                                            value="{{this.reader.Id}}" placeholder="">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-2">
                                <i class="bi bi-floppy"></i>
                                Save
                            </button>
                            <a href="/admin/categories" class="btn btn-secondary">
                                <i class="bi bi-arrow-bar-left"></i>
                                Go Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </form>

</div>